body, html {
    font-family: "Merriweather", serif;
    color: #302E2B;
    margin: 0;
    width: 100%;
    height: 100%;
}

#navigation {
    width: 100%;
    min-height: 40px;
    position: fixed;
    z-index: 99;
    text-align: center;
    background-color: #F4F1EA;
    display: none;
    padding-top: 10px;
}

.container {
    width: 100%;
    height: 100%;
}


/* Section IDS */

    #landing {
        background-color: #F4F1EA;
        min-height: 100%;
    }

    #green, #rooibos, #black, #puerh {
        color: #F4F1EA;
    }

    #herbal {
        background-color: #F2D768;
    }

    #white {
        background-color: #FFF;
    }

    #green {
        background-color: #879F74;
    }

    #rooibos {
        background-color: #AD4E36;
    }

    #black {
        background-color: #474543;
    }

    #puerh {
        background-color: #323A2D;
    }

    #specialty {
        background-color: #C69060;
        height: auto;
    }


/* Content Formatting */

.content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 800px;
    padding: 40px;
    margin: auto;
    text-align: center;
    display: table;

}

.teastats, .teainfo {
    padding: 20px;
    display: table-cell;
    vertical-align: middle;
}

.teainfo {
    max-width: 500px;
    text-align: left;
}

.teastats {
    max-width: 200px;
}

.item {
    display: inline-block;
    padding: 20px;
    vertical-align: bottom;
}

.specialty-content {
    max-width: 960px;
    margin: auto;
    text-align: center;
}

.specialty-item {
    width: 250px;
    display: inline-block;
    padding: 40px 20px;
    vertical-align: top;
}

footer {
    background-color: #F4F1EA;
    width: 100%;
}

.footer-content {
    max-width: 500px;
    padding: 50px;
    margin: auto;
    font-size: 10pt;
    text-align: center;
}

 /* Image Formatting */

.two, #twoFade {
    max-width: 200px;
}

.one {
    max-width: 60px;
}

.special {
    max-width: 120px;
}

/* Header Formatting */
.title, .subtitle, .header {
    font-family: Oswald;
    text-transform: uppercase; 
}

.title {
    font-size: 56pt;
    line-height: 60pt; 
    margin-bottom: 10px;
}

.subtitle {
    font-size: 36pt;
}

.header {
    font-size: 18pt;
    margin-bottom: -10px;
}

/* Link Formatting */
a:LINK, a:VISITED {
    text-decoration: none;
    transition: linear 0.2s;
    -webkit-transition:opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
}
a:HOVER {
    opacity: 0.5;
}

a.menu:LINK, a.menu:VISITED, a.nav:LINK, a.nav:VISITED {
    font-family: Oswald;
    text-transform: uppercase;
    color: #302E2B;
    padding: 15px;
    font-size: 14pt;
}

a.menu:LINK, a.menu:VISITED {
    display: block;
}

@media (max-width: 800px) {
    .container {
        height: auto;
    }

    .content {
        transform: none;
        top: 0;
    }

    .content, .teainfo, .teastats {
        display: block;
        margin: auto;
    }

    .title {
        font-size: 36pt;
        line-height: 40pt;
    }

    .item {
        padding: 0px;
    }


    .two {
        max-width: 100px;
    }

    a.menu:LINK, a.menu:VISITED, a.nav:LINK, a.nav:VISITED {
        font-size: 10pt;
    }

}

@media (max-width: 500px) {
    .one {
        max-width: 40px;
    }
}